<footer class="footer" id="contact">

    <div class="footer-content">
        <div class="footer-logo">
            <h2>EcoSpace</h2>
            <p>An online platform for buyers and sellers.</p>
            <div class="contact-info">
                <p><i class='bx bx-phone'></i> +123 456 789</p>
                <p><i class='bx bx-envelope'></i> support@ecospace.com</p>
                <p><i class='bx bx-map'></i> 123 EcoSpace Blvd, NBO, KENYA</p>
            </div>
        </div>

        <div class="quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Marketplace</a></li>
                <li><a href="#">Testimonials</a></li>
            </ul>
        </div>

        <div class="follow-us">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>© 2025 ECOSPACE. All Rights Reserved.</p>
    </div>
</footer>