<header>

    <div class="header-admin">
        <button class="back-btn" onclick="history.back()">
            <i class='bx bx-arrow-back'></i>
            Back
        </button>
        <div class="logo-container">
            <a href="/" class="logo"><i class='bx bx-store'></i>EcoSpace</a>
        </div>
        <button class="back-btn extra" onclick="history.back()">
            <i class='bx bx-arrow-back'></i>
            Back
        </button>
    </div>
</header>