<!-- Hero Section -->
<div class="hero" id="home">
    <div class="hero-text">
        <h1>Transform <span class="highlighted-text">Your</span> <br> <span class="highlighted-text">Shopping</span>
            Experience <br>with EcoSpace</h1>
        <p>Discover an intuitive platform designed for seamless interaction between buyers and sellers. Explore
            categories tailored to your needs, from fashion to machinery, and enjoy smart filtering tools that
            make shopping effortless.</p>
        <a href="/admin" class="btn">Get Started<i class='bx bx-right-top-arrow-circle'></i></a>
    </div>
</div>

<!-- About -->
<div class="about" id="about">
    <h2>ABOUT ECOSPACE</h2>
    <p>Explore seamless connections between Buyers and Sellers. At EcoSpace, we are dedicated to providing an online
        marketplace designed to enhance your shopping journey with diverse product categories, intelligent searching
        tools, and a secure checkout process, tailored for both buyers and sellers.</p>

    <div class="features-container">
        <div class="feature-box">
            <h3>Shop by Category</h3>
            <p>Navigate seamlessly through various product offerings, from apparel to machinery.</p>
        </div>
        <div class="feature-box">
            <h3>Intelligent Search</h3>
            <p>Use filters to find products tailored to your needs swiftly. Review product details, prices, and seller
                information before making informed purchases.</p>
        </div>
        <div class="feature-box">
            <h3>Secure Order Process</h3>
            <p>Confirm your order with added security before proceeding to payment.</p>
        </div>
        <div class="feature-box">
            <h3>Seller Participation</h3>
            <p>Sellers can easily introduce products by filling out a straightforward form.</p>
        </div>
    </div>
</div>

<section class="products-section" id="products">
    <div class="products-container">
        <h2>Our Products</h2>
        <p>Explore products available</p>
        <div class="product-categories">
            <a href="/products?category=Fruit" class="category-link">
                <div class="category">
                    <h3>Fruit</h3>
                </div>
            </a>
            <a href="/products?category=Vegetable" class="category-link">
                <div class="category">
                    <h3>Vegetable</h3>
                </div>
            </a>
            <a href="/products?category=Farm Tool" class="category-link">
                <div class="category">
                    <h3>Farm Tool</h3>
                </div>
            </a>
            <a href="/products?category=Animal Produce" class="category-link">
                <div class="category">
                    <h3>Animal Produce</h3>
                </div>
        </div>
        <p class="description">Transform your buying and selling process with EcoSpace, which offers a streamlined
            experience filled with product options, detailed information, secure transactions, and effective
            communication channels. Discover a platform where everything is tailored to your needs, providing you the
            confidence to engage in e-commerce successfully.</p>
        <a href="/products" class="start-shopping-btn">Start Shopping</a>
    </div>
</section>



<!-- Testimonials section -->
<section class="testimonials" id="testimonials">
    <div class="testimonials-header">
        <h2>TESTIMONIALS</h2>
        <h1>What Our Clients Say</h1>
    </div>
    <div class="testimonial-cards">
        <div class="testimonial-card">
            <div class="quote-icon">
                <i class='bx bxs-quote-alt-left'></i>
            </div>
            <div class="testimonial-content">
                <p>EcoSpace has completely transformed my online shopping experience! The variety and ease of use make
                    finding the perfect product a breeze.</p>
            </div>
            <div class="testimonial-author">
                <img src="/img/samantha.avif" alt="Samantha Green">
                <div class="author-details">
                    <h3>SAMANTHA GREEN</h3>
                    <span>Digital Marketer</span>
                </div>
            </div>
            <div class="rating">
                <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i
                    class='bx bxs-star'></i><i class='bx bxs-star'></i>
            </div>
        </div>
        <div class="testimonial-card">
            <div class="quote-icon">
                <i class='bx bxs-quote-alt-left'></i>
            </div>
            <div class="testimonial-content">
                <p>As a seller, I found the platform incredibly user-friendly and supportive. EcoSpace truly understands
                    the needs of its users.</p>
            </div>
            <div class="testimonial-author">
                <img src="/img/jonathan.avif" alt="Johnathan Wells">
                <div class="author-details">
                    <h3>JOHNATHAN WELLS</h3>
                    <span>Entrepreneur</span>
                </div>
            </div>
            <div class="rating">
                <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i
                    class='bx bxs-star'></i><i class='bx bxs-star'></i>
            </div>
        </div>
        <div class="testimonial-card">
            <div class="quote-icon">
                <i class='bx bxs-quote-alt-left'></i>
            </div>
            <div class="testimonial-content">
                <p>Finding specific products amongst countless great options has never been easier. EcoSpace is a
                    game-changer in the e-commerce space!</p>
            </div>
            <div class="testimonial-author">
                <img src="/img/felicia.avif" alt="Felicia Arden">
                <div class="author-details">
                    <h3>FELICIA ARDEN</h3>
                    <span>Content Creator</span>
                </div>
            </div>
            <div class="rating">
                <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i
                    class='bx bxs-star'></i><i class='bx bxs-star'></i>
            </div>
        </div>
    </div>
</section>


<!-- Link to JS -->
<script src="script.js"></script>